
<% content_for :headline do %>
    Share the award
<% end %>

<%= form_for :voting, url: voting_path(@voting), method: :patch do |f| %>

    <script>
        var max_funds = <%= @voting.total %>,
                init_funds = max_funds / <%= @voting.voting_entries.length %>;
    </script>


    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 team-name">
        <h4><%= @voting.team.name %></h4>
      </div>
    </div>

    <div class="row" id="sliders-form">
      <div class="col-lg-8 col-lg-offset-2">
        <%
           @voting.voting_entries.each do |entry|
             member = User.where(id: entry.member_id).first
        %>
            <div class="row">
              <div class="col-lg-4 text-right member-name">
                <%= member.name %>
              </div>
              <div class="col-lg-6 text-center">
                <input class="bonus-slider" id="bonus-slider-<%= member.id() %>" type="text" data-slider-min="0" data-slider-max="<%= @voting.total %>" data-slider-step="10" data-slider-value="<%= entry.amount %>"/>
              </div>
              <div class="col-lg-2">
                <input type="text" id="bonus-value-<%= member.id() %>" class="bonus-value" name="amount[<%= member.id() %>]" size="5" value="<%= entry.amount %>" />
              </div>
            </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <p class="text-center">
        <%= f.submit "Submit", class: "btn btn-large btn-info" %>
      </p>
    </div>

<% end %>

<%= javascript_include_tag "logic" %>
